/* @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro"); */

body {
  font-family: monospace;
  padding: 40px;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.7);
}

p {
  border-right: solid 3px rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
}

/* Animation */
p {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  to {
    border-right-color: transparent;
  }
}
