<!DOCTYPE html>
<html>
<head>
  <title>Research Paper Summarizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>Make any paper simpler</h1>
  <form method="post">
    <div class="group">
      <label for="url">URL:</label>
      <input type="text" class="form-control" name="url" id="url" placeholder="Enter URL">
    </div>
    <div class="group">
      <label for="num_sentences">Number of sentences:</label>
      <input type="number" class="form-control" name="num_sentences" id="num_sentences" placeholder="Enter number of sentences">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div id="summary">
    <p>{{ summary }}</p>
  </div>
</body>

</html>